/* base css */
img{
    max-width: 100%;
    height: auto;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
}


/* position-relative */
.position-relative{
    position: relative;
}
.p-absolute{
    position: absolute;
}
/* z-index */
.z-index-3{
    z-index: 3;
}

/* a tag */
a{
    text-decoration: none;
    outline: none;
}
/* ul tag */
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

/* text allign */
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
/* padding */
.p-10{
    padding: 10px;
}
.p-15{
    padding: 15px;
}
.p-20{
    padding: 20px;
}
.p-25{
    padding: 25px;
}
.p-30{
    padding: 20px;
}
/* py padding */
.py-5{
    padding: 5px 0;
}
.py-15{
    padding: 15px 0;
}
.py-20{
    padding: 20px 0;
}
.py-25{
    padding: 25px 0;
}
.py-50{
    padding: 50px 0;
}
.py-80{
    padding: 80px 0;
}
.py-100{
    padding: 100px 0;
}
/* padding top */
.pt-40{
    padding-top: 40px;
}
.pt-60{
    padding-top: 60px;
}
.pt-100{
    padding-top: 100px;
}
/* padding-left */
.pl-35{
    padding-left: 35px;
}
/* pabbing bottom */
.pb-15{
    padding-bottom: 15px;
}
.pb-40{
    padding-bottom: 40px;
}
.pb-80{
    padding-bottom: 80px;
}
/* margin-left */
.ml-25{
    margin-left: 25px;
}
.ml-50{
    margin-left: 50px;
}
.ml-80{
    margin-left: 80px;
}
/* margin right */
.mr-10{
    margin-right: 10px;
}
.mr-15{
    margin-right: 15px;
}
.mr-25{
    margin-right: 25px;
}
.mr-40{
    margin-right: 40px;
}
.mr-50{
    margin-right: 50px;
}
.mr-80{
    margin-right: 80px;
}
/* margin botton */
.mb-10{
    margin-bottom: 10px;
}
.mb-15{
    margin-bottom: 15px;
}
.mb-18{
    margin-bottom: 18px;
}
.mb-20{
    margin-bottom: 20px;
}
.mb-25{
    margin-bottom: 25px;
}
.mb-30{
    margin-bottom: 30px;
}
.mb-35{
    margin-bottom: 35px;
}
.mb-40{
    margin-bottom: 40px;
}
.mb-50{
 margin-bottom: 50px;
}
/* margin my */
.my-60{
    margin: 60px 0;
}
.my-80{
    margin: 80px 0;
}
.my-100{
    margin: 100px 0;
}
/* margin-top */
.mt-15{
    margin-top: 15px;
}
.mt-20{
    margin-top: 20px;
}
.mt-35{
    margin-top: 35px;
}
.mt-40{
    margin-top: 40px;
}
.mt-50{
    margin-top: 50px;
}
.mt-70{
    margin-top: 70px;
}
.mt-80{
    margin-top: 80px;
}
/* width */
.w-full{
    width: 100%;
}
/* text-decoration */
.remove-underline{
    text-decoration: none;
}


/* float desgin */
.f-right{
    float: right;
    
}


/* section-padding */
.section-padding{
    padding: 150px 0;
}
.section-padding-md{
    padding: 180px 0;
}