/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  
}
/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .comfort-area {
    margin: 0;
}
.comfort-info h2 {
  font-size: 40px;
}
.comfort-video-content {
  transform: translateX(230px);
  top: 25%;
}
.contact-btn {
  font-size: 12px;
}
.banner-title , .sub-title {
  font-size: 40px;
}
.banner-info p {
  font-size: 15px;
  margin-top: 20px;
}
.btn-one , .btn-two  {
  font-size: 15px;
  margin-top: 10px;
}
.count-area {
  padding-top: 35px;
}
.fily-title {
  font-size: 60px;
  margin-bottom: 25px;
}
.fily-info p {
  font-size: 16px;
}
.comfort-info {
  margin-top: 0px;
}
.elite-cation {
  font-size: 14px;
}
.accordion-button {
  font-size: 20px;
}

.footer-area img {
  margin-bottom: 30px;
}
.f-title {
  font-size: 20px;
}
.f-link , .color-btn {
  font-size: 12px;
}
.f-link-first {
  margin-bottom: 25px;
}
.copy-right-area li {
  margin-left: 8px;
}
.mt-15 {
  margin-top: 0;
}
.copy-title {
  font-size: 8px;
}
.owl-item.active.center .carsoule-info .carsoule-title {
  font-size: 20px;
}
.owl-item .carsoule-info .carsoule-title {
  font-size: 14px;
}
.plan-carousel-two .owl-nav {
  position: absolute;
  top: -22px;
  width: 100%;
}
.fly-area {
  display: flex;
  flex-direction: column-reverse;
  padding: 44px 0 0px;
}
.fly-bg {
  position: relative;
  height: 500px;
  width: 100%;
}
.fily-info {
  padding-top: 50px;
  text-align: center;
}


}
/* Tablet & Mobile Layout: 991px. Only for desktop and tablet */
@media only screen and (min-width: 991px) {
 

}
@media only screen and (max-width: 767px) {
  .comfort-area {
    margin: 0;
}
.comfort-info h2 {
  font-size: 30px;
}
.comfort-video-content {
  transform: translateX(210px);
  top: 36%;
}
.comfort-title {
  font-size: 60px;
}
.contact-btn {
  font-size: 12px;
}
.banner-area {
  min-height: calc(100vh - 200px);

}
.banner-title , .sub-title {
  font-size: 25px;
}
.banner-info p {
  font-size: 15px;
  margin-top: 20px;
}
.btn-one , .btn-two  {
  font-size: 15px;
  margin-top: 10px;
}
.count-area {
  padding-top: 35px;
}
.fily-title {
  font-size: 40px;
  margin-bottom: 25px;
}
.fily-info p {
  font-size: 14px;
}
.comfort-info {
  margin-top: 0px;
}
.comfort-title {
  font-size: 60px;
}
.elite-cation {
  font-size: 14px;
}
.accordion-button {
  font-size: 20px;
}
.comfort-area , .aviation-area {
  min-height: 500px;
}

.footer-area img {
  margin-bottom: 30px;
}
.f-title {
  font-size: 20px;
}
.f-link , .color-btn {
  font-size: 12px;
}
.f-link-first {
  margin-bottom: 25px;
}
.copy-right-area li {
  margin-left: 8px;
}
.mt-15 {
  margin-top: 0;
}
.copy-title {
  font-size: 8px;
}
.owl-item.active.center .carsoule-info .carsoule-title {
  font-size: 20px;
}
.owl-item .carsoule-info .carsoule-title {
  font-size: 14px;
}
.plan-carousel-two .owl-nav {
  position: absolute;
  top: -22px;
  width: 100%;
}
.bottom-content p {
  font-size: 14px;
}
.fly-area {
  display: flex;
  flex-direction: column-reverse;
  padding: 44px 0 0px;
}
.fly-bg {
  position: relative;
  height: 500px;
  width: 100%;
}
.fily-info {
  padding-top: 50px;
  text-align: center;
}
.fly-area:after{
  display: none;
}
}
/* Wide Mobile Layout: 480px. */
@media only screen and (max-width: 480px) {
  .banner-area {
    min-height: calc(100vh - 250px);
}
  .comfort-area {
    margin: 0;
}
.comfort-info h2 {
  font-size: 30px;
}
.comfort-title {
  font-size: 60px;
}
.comfort-area , .aviation-area {
  min-height: 500px;
}
.contact-btn {
  font-size: 12px;
  margin-top: 15px;
}
.banner-title {
  font-size: 25px;
}
.banner-info p {
  font-size: 15px;
  margin-top: 20px;
}
.btn-one , .btn-two  {
  font-size: 15px;
  margin-top: 10px;
}
.count-area {
  padding-top: 35px;
}
.fily-title {
  font-size: 40px;
  margin-bottom: 25px;
}
.fily-info p {
  font-size: 14px;
}
.comfort-info {
  margin-top: 0px;
}
.comfort-title {
  font-size: 60px;
}
.elite-cation {
  font-size: 14px;
}
.accordion-button {
  font-size: 20px;
}
.copy-right-area li {
  margin-left: 8px;
}
.mt-15 {
  margin-top: 0;
}
.copy-title {
  font-size: 8px;
}
.owl-item.active.center .carsoule-info .carsoule-title {
  font-size: 20px;
}
.owl-item .carsoule-info .carsoule-title {
  font-size: 14px;
}
.plan-carousel-two .owl-nav {
  position: absolute;
  top: -22px;
  width: 100%;
}
.bottom-content p {
  font-size: 14px;
}
.fly-area {
  display: flex;
  flex-direction: column-reverse;
  padding: 44px 0 0px;
}
.fly-bg {
  position: relative;
  height: 500px;
  width: 100%;
}
.fily-info {
  padding-top: 50px;
  text-align: center;
}
.fly-area:after{
  display: none;
}
}
/* Mobile Layout: 320px. */
@media only screen and (max-width: 320px) {
  .comfort-area {
    margin: 0;
}
.fly-area:after{
  display: none;
}
.comfort-area , .aviation-area {
  min-height: 500px;
}
.f-title::after {
  width: 222px;
}
}
