


/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * museo-sans:
 *   - http://typekit.com/eulas/00000000000000000000e7fe
 *   - http://typekit.com/eulas/00000000000000000000e802
 *   - http://typekit.com/eulas/00000000000000000000e803
 *   - http://typekit.com/eulas/00000000000000000000e804
 *   - http://typekit.com/eulas/00000000000000000000e805
 *   - http://typekit.com/eulas/00000000000000000000e806
 *   - http://typekit.com/eulas/00000000000000000000e807
 *   - http://typekit.com/eulas/00000000000000000000e808
 * myriad-pro:
 *   - http://typekit.com/eulas/00000000000000000001709c
 *   - http://typekit.com/eulas/00000000000000000001709d
 *
 * © 2009-2023 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2023-08-21 19:17:57 UTC"}*/

@import url("https://p.typekit.net/p.css?s=1&k=rxh8lll&ht=tk&f=2005.2006.2007.2008.2009.2010.2011.2012.6852.6853&a=537725&app=typekit&e=css");

@font-face {
font-family:"museo-sans";
src:url("https://use.typekit.net/af/620bf8/00000000000000000000e7fe/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff2"),url("https://use.typekit.net/af/620bf8/00000000000000000000e7fe/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff"),url("https://use.typekit.net/af/620bf8/00000000000000000000e7fe/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:300;font-stretch:normal;
}

@font-face {
font-family:"museo-sans";
src:url("https://use.typekit.net/af/5cca6d/00000000000000000000e802/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3") format("woff2"),url("https://use.typekit.net/af/5cca6d/00000000000000000000e802/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3") format("woff"),url("https://use.typekit.net/af/5cca6d/00000000000000000000e802/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:300;font-stretch:normal;
}

@font-face {
font-family:"museo-sans";
src:url("https://use.typekit.net/af/a28b50/00000000000000000000e803/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff2"),url("https://use.typekit.net/af/a28b50/00000000000000000000e803/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff"),url("https://use.typekit.net/af/a28b50/00000000000000000000e803/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:500;font-stretch:normal;
}

@font-face {
font-family:"museo-sans";
src:url("https://use.typekit.net/af/c2d3de/00000000000000000000e804/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i5&v=3") format("woff2"),url("https://use.typekit.net/af/c2d3de/00000000000000000000e804/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i5&v=3") format("woff"),url("https://use.typekit.net/af/c2d3de/00000000000000000000e804/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i5&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:500;font-stretch:normal;
}

@font-face {
font-family:"museo-sans";
src:url("https://use.typekit.net/af/e3ca36/00000000000000000000e805/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/e3ca36/00000000000000000000e805/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/e3ca36/00000000000000000000e805/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;font-stretch:normal;
}

@font-face {
font-family:"museo-sans";
src:url("https://use.typekit.net/af/2841b6/00000000000000000000e806/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/2841b6/00000000000000000000e806/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/2841b6/00000000000000000000e806/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:700;font-stretch:normal;
}

@font-face {
font-family:"museo-sans";
src:url("https://use.typekit.net/af/9cf49e/00000000000000000000e807/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("woff2"),url("https://use.typekit.net/af/9cf49e/00000000000000000000e807/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("woff"),url("https://use.typekit.net/af/9cf49e/00000000000000000000e807/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:900;font-stretch:normal;
}

@font-face {
font-family:"museo-sans";
src:url("https://use.typekit.net/af/27c143/00000000000000000000e808/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i9&v=3") format("woff2"),url("https://use.typekit.net/af/27c143/00000000000000000000e808/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i9&v=3") format("woff"),url("https://use.typekit.net/af/27c143/00000000000000000000e808/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i9&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:900;font-stretch:normal;
}

@font-face {
font-family:"myriad-pro";
src:url("https://use.typekit.net/af/80c5d0/00000000000000000001709c/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff2"),url("https://use.typekit.net/af/80c5d0/00000000000000000001709c/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff"),url("https://use.typekit.net/af/80c5d0/00000000000000000001709c/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:600;font-stretch:normal;
}

@font-face {
font-family:"myriad-pro";
src:url("https://use.typekit.net/af/d50a1b/00000000000000000001709d/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i6&v=3") format("woff2"),url("https://use.typekit.net/af/d50a1b/00000000000000000001709d/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i6&v=3") format("woff"),url("https://use.typekit.net/af/d50a1b/00000000000000000001709d/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i6&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:600;font-stretch:normal;
}

.tk-museo-sans { font-family: "museo-sans",sans-serif; }
.tk-myriad-pro { font-family: "myriad-pro",sans-serif; }
body {
  font-family:"museo-sans";
  font-size: 19px;
  font-weight: 500;
  line-height: 35px;
  margin: 0;
  padding: 0;
  color: #11305A;
}

/* base css */
.container {
  max-width: 1441px;
  padding: 0;
}
.container-fluid {
  max-width: full;
}
p{
  margin: 0;
  padding: 0;
}

.w-one {
  min-width: 631px;
  min-height: 491px;
}
.w-two {
  min-width: 621px;
  min-height: 491px;
}
.w-three{
  min-width: 631px;
  min-height: 568px;
}
.w-four{
  min-width: 625px;
  min-height: 491px;
}
/* section background-color */
.bg-freesh{
  background-color: #F0F7F8;
}
.bg-dark-deep{
  background-color: #11305A;
}



/* ==========
style summery
================

1.header area design
2.banner area design
3.inner about area design
4.inner service area design
5.guarantee area
6.pipe area 
7.footer area 
---------------- */

/* ==================
header area design start
========================= */
/* ==================
header area design end
========================= */
.header-area {
  position: absolute;
  z-index: 5;
  width: 100%;
  margin-top: 57px;
}

.video-area {
  z-index: -1;
  height: auto;
  width: 100%;
}
.overlay {
  background: #11305a;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  opacity: 0.5;
}
.navbar-brand img {
  max-width: 215px;
  height: 105px;
}
.navbar-nav {
  margin-left: 63px;
}
.nav-link {
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  margin-right: 47px;
  transition: 0.3s;
}
.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show,
.nav-link:hover {
  color: #4ca1bf;
  text-decoration: underline;
}
.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: #4ca1bf;
  text-decoration: underline;
}

/* dropdown manu */
.dropdown-main-manu {
  display: inline-block;

}

.dropdown-list {
  display: none;
  position: absolute;
  top: -60px;
  background: #fff;
  width: 100%;
  left: 0;
  height: 766px;
  transition: 0.5s ease;
  z-index: 99;
}
.dropdown-list.top-0 {
  top: 0;
}
.dropdown-main-manu:hover  .dropdown-list{
  display: block;
}

.dropdown-main-manu:hover .dropdown-list .nav-link {
  color: #11305A;
  font-size: 22px;
  font-weight: 700;
}
.dropdown-main-manu:hover .dropdown-list .navbar-nav .nav-link.active,
.navbar-nav .nav-link.show , .dropdown-main-manu:hover .dropdown-list .nav-link:hover {
  color: #4ca1bf;
  text-decoration: underline;
}
.dropdown-main-manu:hover .dropdown-list .navbar{
  padding-top: 56px;
  margin-bottom: 49px;
}
.dropdown-main-manu:hover .dropdown-list  .dropdown-heading{
  display: inline-block;
  color: #11305A;
  font-size: 22px;
  font-weight: 900;
  margin-bottom: 21px;
}
.dropdown-main-manu:hover .dropdown-list  .dropdown-item{
  margin-bottom: 15px;
} 
.dropdown-main-manu:hover .dropdown-list  .dropdown-link{
  color: #11305A;
  font-size: 19px;
  font-weight: 500;
  transition: 0.3s;
} 

.dropdown-main-manu:hover .dropdown-list  .dropdown-link:hover{
  color: #4CA1BF;
  font-size: 19px;
  font-weight: 500;
}
.dropdown-main-manu:hover .dropdown-list .dropdown-contact-area {
  background-color: #11305A;
  width: 472px;
  height: 766px;
  padding-top: 73px;
  float: right;
}
.dropdown-main-manu:hover .dropdown-list .dropdown-contact-area img{
  margin-bottom: 52pxm;
}
.contact-number {
  font-size: 32px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 54px;
}

.contact-link {
  font-size: 16px;
  font-weight: 700;
  text-decoration: underline;
  color: #fff;
}

.dropdown-contact-area p {
  margin-bottom: 13px;
}

/* magnific popup css start */
/**
 * Simple fade transition,
 */
 .mfp-fade.mfp-bg {
	opacity: 0;
	-webkit-transition: all 0.15s ease-out; 
	-moz-transition: all 0.15s ease-out; 
	transition: all 0.15s ease-out;
}
.mfp-fade.mfp-bg.mfp-ready {
	opacity: 0.8;
}
.mfp-fade.mfp-bg.mfp-removing {
	opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
	opacity: 0;
	-webkit-transition: all 0.15s ease-out; 
	-moz-transition: all 0.15s ease-out; 
	transition: all 0.15s ease-out;
}
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
	opacity: 1;
}
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
	opacity: 0;
}
/* magnific popup css  end */

/* btn */
.btn-one {
  display: inline-block;
  font-size: 20px;
  font-weight: 900;
  min-width: 230px;
  min-height: 72px;
  background: #4ca1bf;
  color: #fff;
  padding: 24px 22px 21px 22px;
  transition: 0.3s;
  text-align: center;
  border-radius: 50px;
  
}

.btn-one-v2 {
  font-size: 20px;
  font-weight: 700;
  background: transparent;
  border: 3px solid #fff;
  padding: 20px 50px;
  border-radius: 36px;
  color: #fff;
  transition: 0.3s;
  
}
.btn-three {
  display: inline-block;
  border: 2px solid #4CA1BF;
  padding: 23px 37px 22px 37px;
  border-radius: 50px;
  font-size: 20px;
  font-weight: 500;
  color: #4CA1BF;
  transition: 0.3s;
  min-width: 274px;
  min-height: 72px;
  text-align: center;
}
.btn-one-v2:hover {
  background-color: #fff;
  color: #11305A;
}
.btn-four {
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  color: #4CA1BF;
}
.w-btn-2 .btn-three {
  min-width: 231px;
}
.w-btn-3 .btn-three {
  min-width: 240px;
}

a.nav-link.active.dropdown-main-manu:hover .dropdown-page li {
  font-size: 50px;
}

/* banner area design start */

.video-content img {
  width: 100%;
  height: 900px;
}

.banner-content-area {
  position: absolute;
  width: 100%;
  z-index: 1;
  bottom: 62px;
}
.palay-icon {
  position: relative;
}
.play-icon-button {
  position: absolute;
  top: 15px;
  left: 20px;
}
.play-btn {
  display: flex;
  align-items: end;
  position: absolute;
  right: 100px;
  bottom: 0;
}
.paly-caption {
  font-size: 22px;
  font-weight: 500;
  color: #fff;
}
.banner-info {
  color: #fff;
  font-size: 22px;
  padding-bottom: 60px;
}
.banner-info h1 {
  font-size: 65px;
  font-weight: 700;
  margin-bottom: 9px;
}
.banner-info p {
  margin-bottom: 60px;
}
/* banner area design end */

/* inner about design start */

.about-inner-bg-1 , .about-inner-bg-2 , .about-inner-bg-3{
  position: relative;
  z-index: 1;
}
.Financing-content .btn-three{
   min-width: 197px;
}
.about-content.plumbing-about-content.Financing-content .inner-caption {
  margin-bottom: 23px;
}
.about-inner-bg-1::after {
  position: absolute;
  top: -32px;
  left: 36px;
  min-width: 627px;
  min-height: 556px;
  background: #BFDBE8;
  opacity: 0.7;
  content: "";
  z-index: -1;
  
}
.about-inner-bg-2::after {
  position: absolute;
  left: 36px;
  width: 627px;
  height: 633px;
  background: #BFDBE8;
  content: "";
  z-index: -1;
  top: -32px;
  opacity: 0.7;
}
.about-inner-bg-3::after {
  position: absolute;
  left: -36px;
  width: 627px;
  height: 556px;
  background: #BFDBE8;
  content: "";
  z-index: -1;
  top: -32px;
  opacity: 0.7;
}
.small-caption {
  font-size: 16px;
  font-weight: 700;
  color: #4CA1BF;
  margin-bottom: 9px;
}
.inner-caption {
  font-size: 60px;
  font-weight: 700;
  color: #11305A;
  line-height: 68px;
  margin-bottom: 15px;
}

.cta-content .inner-caption {
  color: #fff;
}
.cta-4 .inner-caption , .cta-4 .inner-para{
  color: #fff;
}
.cta-area-2 .cta-content {
  padding: 133px 100px;
}
.img-one {
  position: absolute;
  top: 30%;
  left: 32%;
  height: auto;
  z-index: 1;
}
.img-two {
  position: absolute;
  bottom: 190px;
  left: 253px;
  z-index: 2;
}
.img-three {
  position: absolute;
  top: 30%;
  left: 8%;
  height: auto;
}
.img-fourr {
  position: absolute;
  top: 75px;
  left: 253px;
  z-index: 2;
}
/* .cta-man-bg {
  position: absolute;
  bottom: 0;
} */
.inner-para , .about-info .inner-contnet .inner-para , .pipes-info p, .pipes-info ul li {

  line-height: 29px;

}


/* inner about design end */

/* inner service design start */
.service-info {
  background-color: #11305A;
}
.service-info-2 {
  background: #F4F4F4;
}
.about-para {
  font-size: 50px;
  font-weight: 500;
  color: #11305A;
}
.service-content .inner-caption  , .service-content p{
  color: #fff;
}
.s-icon {
  background: #fff;
  height: 40px;
  border-radius: 50%;
}
.s-icon svg {
  padding: 10px;
  border-radius: 50%;
  width: 20px;
  transition: 0.3s;
}
.s-icon svg {
  padding: 10px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  transition: 0.3s;
}
.service-info-2  .s-icon svg {
  color: #000;
}

.overview-iteam.active .s-icon {
  background: #4CA1BF;
}
.overview-iteam.active .s-icon svg {
  color: #fff;
}
.overview-link {
  display: flex;
  align-items: start;
  justify-content: space-between;
  transition: 0.3s;
}
.overview-link:hover .s-icon  {
  background: #4CA1BF;
}
.overview-link:hover .s-icon svg {
  color: #fff;
}
.service-info-2 .over-view-heading{
  color: #11305A;
}
.over-view-heading {
  font-size: 28px;
  font-weight: 500;
  color: #fff;
}
.overview-iteam {
  border-top: 1px solid #FCFAF6;
  border-right: 0;
  border-left: 0;
  padding: 21px 0;
}
.overview-iteam:last-child{
  border-bottom: 1px solid #FCFAF6;
}
.service-info-2 .overview-iteam {
  border-top: 1px solid #11305A;
  border-right: 0;
  border-left: 0;
  padding: 21px 0;
}
.service-info-2 .overview-iteam:last-child{
  border-bottom: 1px solid #11305A;
}

/* inner service design start */

/* guarantee area design start */

.card-icon {
  margin-bottom: 30px;
}
.card-content{
  color: #11305A;
}
.card-content h6 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 10px;
  line-height: 25px;
}
.card-content p {
  opacity: 0.8;
}
.crad-img-area {
  display: inline-block;
  border: 1px solid;
  border-radius: 50%;
  height: 265px;
  width: 265px;
}
.crad-first-img {
  transform: translate(5px, 95px);
}
.cast-img {
  transform: translate(5px, 35px);
}
.crad-content {
  margin-top: 50px;
}
.crad-info{
  position: relative;
}
.crad-head {
  font-size: 40px;
  font-weight: 500;
  color: #11305A;
  margin-bottom: 50px;
}
.crad-area .col-lg-6:nth-child(1) .crad-info::after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  height: 100%;
  width: 1px;
  background: #9D9D9D;
 
}
                  

.guarantee-area .col-lg-4:nth-child(2) .card-crea::after {
  content: "";
  height: 163px;
  width: 1px;
  background: #9D9D9D;
  position: absolute;
  top: 20px;
  left: 0;
  opacity: 0.6;
}
.guarantee-area .col-lg-4:nth-child(2) .card-crea::before {
  content: "";
  height: 163px;
  width: 1px;
  background: #9D9D9D;
  position: absolute;
  top: 20px;
  right: 0;
  opacity: 0.6;
}



/* guarantee area design end */
/* story area design */
.story-men-bg {
  position: absolute;
  left: 40px;
  top: 0;
  height: 100%;
  width: auto;
}
.small-caption-details {
  font-size: 28px;
  font-weight: 500;
  color: #11305A;
}
/* story area design */

/* pipes area design start */


/* pipes area design end */





/* footer area design start */
.footer-area {
  padding-bottom: 75px;
}
.footer-contact-number {
  font-size: 40px;
  color: rgb(93, 201, 239);
  font-weight: 700;
  margin-bottom: 24px;
}
.footer-subscibe .small-caption {
  font-size: 19px;
}
.footer-address-content address {
  font-size: 19px;
  color: #fff;
  font-weight: 700;
  text-align: right;
}
.f-heading {
  font-size: 19px;
  font-weight: 700;
  color: #4CA1BF;
}
.f-link {
  font-size: 19px;
  font-weight: 500;
  color: #FFFFFF;
}
.input-area{
  position: relative;
}
.input-area ::placeholder {
  color: #F0F7F8;
  opacity: 0.5;
  font-size: 19px;
  font-weight: 500;
}
.f-item {
  margin-bottom: 26px;
}
.input-area input[type="email"] {
  min-width: 480px;
  min-height: 57px;
  background: #11305A;
  color: #F0F7F8;
  padding: 17px 28px;
  border: 1px solid #F0F7F8;
  border-radius: 50px;
  opacity: 0.7;
  position: relative;
  outline: none;
}
.submit-icon {
  position: absolute;
  right: 30px;
}
.bg-border {
  background: #fff;
  height: 1px;
  margin: 60px 0;
  opacity: 0.7;
}
.bg-border-2 {
  background: #1B3537;
  height: 1px;
  margin: 60px 0;
  opacity: 0.9;
}
.socials-info .small-caption  {
  font-size: 19px;
}
.s-link {
  font-size: 22px;
  color: #fff;
  margin-left: 20px;
  transition: 0.3s;
}
.s-link:hover{
  color: black;
}
/* footer area design end */



/* faq area design area  */
.accordion-item {
  border-right: 0;
  border-left: 0;
  padding: 15px 0px;
}

.accordion-button {
  font-size: 28px;
  font-weight: 500;
  color: #11305A;
}
.accordion-button:not(.collapsed) {
  background-color: #fff;
  box-shadow: none;
  outline: none;
}

/* Zurn Man Tips area design */
.man-img {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
/* arroding area design  start*/
.accordion-button::after {
  background-image: url("../img/icon/pluse.svg");

}
.accordion-button:not(.collapsed)::after {
  background-image: url("../img/icon/minus.svg");
}
/* arroding area design  end*/

/* benefit area start */
.benefit-crad p {
  font-size: 30px;
  /* font-weight: 500; */
  /* color: #11305A; */
}
.benefit-crad.text-center img {
  height: 125px;
}

/* benefit area end */


/* contact-area start */
.banner-border-bg-2 {
  background: #4CA1BF;
  height: 80px;
  opacity: 0.7;
  color: #fff;
}
.banner-border-bg-2 .zurn-head {
  color: #fff;
  padding: 12px 0px;
}
.border-bg {
  background: #868686;
  height: 1px;
  width: 463px;
}
.contact-input-form {
  padding: 43px 52px;
}
.input-heading {
  font-size: 37px;
  font-weight: 500;
  color: #fff;
  padding-top: 50px;
}
.contact-input-form {
  height: 623px;
  width: 552px;
  border-radius: 50px;
  padding: 0 40px;
}
.contact-input-form input {
  height: 50px;
  width: 475px;
}
.contact-input-form textarea{
  width: 475px;
  height: 127px;
}
.contact-input-form  input[type="button"] {
  background: #4CA1BF;
  width: 230px;
  outline: none;
  border: none;
  border-radius: 50px;
  height: 72px;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}

/* contact-area end */