@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

body {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 500;
}

/* base css */
.container{
  max-width: 1700px;
}
/* section background-color */
.bg-freesh{
  background-color: #F0F7F8;
}
.bg-dark-deep{
  background-color: #11305A;
}



/* ==========
style summery
================

1.header area design
2.banner area design
3.inner about area design
4.inner service area design
5.guarantee area
6.pipe area 
7.footer area 
---------------- */

/* ==================
header area design start
========================= */
/* ==================
header area design end
========================= */
.header-area {
  position: absolute;
  z-index: 2;
  width: 100%;
  margin-top: 30px;
}

.video-area {
  z-index: 2;
  height: auto;
  width: 100%;
}
.overlay {
  background: #11305a;
  position: absolute;
  top: 0;
  height: 99.5%;
  width: 100%;
  z-index: 1;
  opacity: 0.5;
}
.navbar-brand img {
  width: 215px;
  height: 105px;
}
.navbar-nav {
  margin-left: 63px;
}
.nav-link {
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  margin-right: 47px;
  transition: 0.3s;
}
.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show,
.nav-link:hover {
  color: #4ca1bf;
  text-decoration: underline;
}
.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: #4ca1bf;
  text-decoration: underline;
}

/* dropdown manu */
.dropdown-main-manu {
  display: inline-block;

}
.dropdown-list{
  display: none;
  position: absolute;
  top: -30px;
  background: #fff;
  width: 100%;
  left: 0;
  width: 100%;
  height: 900px;
  transition: 0.5s ease;
  z-index: 99;
}
.dropdown-main-manu:hover  .dropdown-list{
  display: block;
}

.dropdown-main-manu:hover .dropdown-list .nav-link {
  color: #11305A;
  font-size: 20px;
  font-weight: 400;
}
.dropdown-main-manu:hover .dropdown-list .navbar-nav .nav-link.active,
.navbar-nav .nav-link.show , .dropdown-main-manu:hover .dropdown-list .nav-link:hover {
  color: #4ca1bf;
  text-decoration: underline;
}
.dropdown-main-manu:hover .dropdown-list .navbar{
  padding-top: 56px;
  margin-bottom: 49px;
}
.dropdown-main-manu:hover .dropdown-list  .dropdown-heading{
  color: #11305A;
  font-size: 22px;
  font-weight: 900;
  margin-bottom: 21px;
}
.dropdown-main-manu:hover .dropdown-list  .dropdown-item{
  margin-bottom: 15px;
} 
.dropdown-main-manu:hover .dropdown-list  .dropdown-link{
  color: #11305A;
  font-size: 18px;
  font-weight: 500;
  transition: 0.3s;
} 

.dropdown-main-manu:hover .dropdown-list  .dropdown-link:hover{
  color: #4CA1BF;
  font-size: 19px;
  font-weight: 500;
}
.dropdown-main-manu:hover .dropdown-list .dropdown-contact-area{
  background-color: #11305A;
  width: 115%;
  height: 900px;
  padding-top: 105px;
}
.dropdown-main-manu:hover .dropdown-list .dropdown-contact-area img{
  margin-bottom: 52pxm;
}
.contact-number {
  font-size: 32px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 54px;
}

.contact-link {
  font-size: 16px;
  font-weight: 700;
  text-decoration: underline;
  color: #fff;
}

/* magnific popup css start */
/**
 * Simple fade transition,
 */
 .mfp-fade.mfp-bg {
	opacity: 0;
	-webkit-transition: all 0.15s ease-out; 
	-moz-transition: all 0.15s ease-out; 
	transition: all 0.15s ease-out;
}
.mfp-fade.mfp-bg.mfp-ready {
	opacity: 0.8;
}
.mfp-fade.mfp-bg.mfp-removing {
	opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
	opacity: 0;
	-webkit-transition: all 0.15s ease-out; 
	-moz-transition: all 0.15s ease-out; 
	transition: all 0.15s ease-out;
}
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
	opacity: 1;
}
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
	opacity: 0;
}
/* magnific popup css  end */

/* btn */
.btn-one {
  background: #4ca1bf;
  color: #fff;
  padding: 20px 50px;
  border-radius: 36px;
  max-width: 230px;
  transition: 0.3s;
  font-size: 20px;
  font-weight: 700;
}
.btn-one-v2 {
  font-size: 20px;
  font-weight: 700;
  background: transparent;
  border: 3px solid #fff;
  padding: 20px 50px;
  border-radius: 36px;
  color: #fff;
  transition: 0.3s;
  
}
.btn-three {
  border: 3px solid #4CA1BF;
  padding: 21px 57px 21px;
  border-radius: 50px;
  font-size: 20px;
  font-weight: 500;
  color: #4CA1BF;
  transition: 0.3s;
}
.btn-one-v2:hover {
  background-color: #fff;
  color: #11305A;
}
.btn-four {
  font-size: 20px;
  font-weight: 700;
  color: #4CA1BF;
}
a.nav-link.active.dropdown-main-manu:hover .dropdown-page li {
  font-size: 50px;
}

/* banner area design start */
.banner-content-area {
  position: absolute;
  bottom: 78px;
  width: 100%;
  z-index: 1;
}
.palay-icon {
  position: relative;
}
.play-icon-button {
  position: absolute;
  top: 15px;
  left: 20px;
}
.play-btn {
  display: flex;
  align-items: end;
  position: absolute;
  right: 100px;
  bottom: 0;
}
.paly-caption {
  font-size: 22px;
  font-weight: 500;
  color: #fff;
}
.banner-info {
  color: #fff;
  font-size: 22px;
}
.banner-info h1 {
  font-size: 65px;
  font-weight: 500;
  margin-bottom: 10px;
}
.banner-info p {
  margin-bottom: 60px;
}
/* banner area design end */

/* inner about design start */

.about-inner-bg-1 , .about-inner-bg-2 , .about-inner-bg-3{
  position: relative;
  z-index: 1;
}
.about-inner-bg-1::after {
  position: absolute;
  left: 35px;
  width: 627px;
  height: 566px;
  background: #BFDBE8;
  content: "";
  z-index: -1;
  top: -40px;
}
.about-inner-bg-2::after {
  position: absolute;
  left: 35px;
  width: 627px;
  height: 633px;
  background: #BFDBE8;
  content: "";
  z-index: -1;
  top: -32px;
}
.about-inner-bg-3::after {
  position: absolute;
  left: -27px;
  width: 627px;
  height: 556px;
  background: #BFDBE8;
  content: "";
  z-index: -1;
  top: -32px;
}
.small-caption {
  font-size: 16px;
  font-weight: 700;
  color: #4CA1BF;
  margin-bottom: 20px; 
}
.inner-caption {
  font-size: 60px;
  font-weight: 500;
  color: #11305A;
  line-height: 64px;
  margin-bottom: 20px;
}

.cta-content .inner-caption {
  color: #fff;
}
.cta-4 .inner-caption , .cta-4 .inner-para{
  color: #fff;
}
.img-one {
  position: absolute;
  top: 30%;
  left: 32%;
  height: auto;
  z-index: 1;
}
.img-two {
  position: absolute;
  bottom: 190px;
  left: 253px;
  z-index: 2;
}
.img-three {
  position: absolute;
  top: 30%;
  left: 8%;
  height: auto;
}
.img-fourr {
  position: absolute;
  top: 75px;
  left: 253px;
  z-index: 2;
}
/* .cta-man-bg {
  position: absolute;
  bottom: 0;
} */
.inner-para , .about-info .inner-contnet .inner-para {
  font-size: 19px;
  font-weight: 500;
  line-height: 35px;
  margin-bottom: 10px;
  color: #11305A;
}


/* inner about design end */

/* inner service design start */
.service-info {
  background-color: #11305A;
}
.service-info-2 {
  background: #F4F4F4;
}
.about-para {
  font-size: 50px;
  font-weight: 500;
  color: #11305A;
}
.service-content .inner-caption  , .service-content p{
  color: #fff;
}
.s-icon {
  background: #fff;
  height: 40px;
  border-radius: 50%;
}
.s-icon svg {
  padding: 10px;
  border-radius: 50%;
  width: 20px;
  transition: 0.3s;
}
.s-icon svg {
  padding: 10px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  transition: 0.3s;
}
.service-info-2  .s-icon svg {
  color: #000;
}

.overview-iteam.active .s-icon {
  background: #4CA1BF;
}
.overview-iteam.active .s-icon svg {
  color: #fff;
}
.overview-link {
  display: flex;
  align-items: start;
  justify-content: space-between;
  transition: 0.3s;
}
.overview-link:hover .s-icon  {
  background: #4CA1BF;
}
.overview-link:hover .s-icon svg {
  color: #fff;
}
.service-info-2 .over-view-heading{
  color: #11305A;
}
.over-view-heading {
  font-size: 28px;
  font-weight: 500;
  color: #fff;
}
.overview-iteam {
  border-top: 1px solid #FCFAF6;
  border-right: 0;
  border-left: 0;
  padding: 21px 0;
}
.overview-iteam:last-child{
  border-bottom: 1px solid #FCFAF6;
}
.service-info-2 .overview-iteam {
  border-top: 1px solid #11305A;
  border-right: 0;
  border-left: 0;
  padding: 21px 0;
}
.service-info-2 .overview-iteam:last-child{
  border-bottom: 1px solid #11305A;
}

/* inner service design start */

/* guarantee area design start */

.card-icon {
  margin-bottom: 30px;
}
.card-content{
  color: #11305A;
}
.card-content h6 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 10px;
}
.card-content p {
  font-size: 19px;
  font-weight: 500;
  opacity: 0.8;
}
.crad-img-area {
  display: inline-block;
  border: 1px solid;
  border-radius: 50%;
  height: 265px;
  width: 265px;
}
.crad-first-img {
  transform: translate(5px, 95px);
}
.cast-img {
  transform: translate(5px, 35px);
}
.crad-content {
  margin-top: 50px;
}
.crad-info{
  position: relative;
}
.crad-head {
  font-size: 40px;
  font-weight: 500;
  color: #11305A;
  margin-bottom: 50px;
}
.crad-area .col-lg-6:nth-child(1) .crad-info::after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  height: 100%;
  width: 1px;
  background: #9D9D9D;
 
}
                  

.guarantee-area .col-lg-4:nth-child(2) .card-crea::after {
  content: "";
  height: 163px;
  width: 1px;
  background: #9D9D9D;
  position: absolute;
  top: 20px;
  left: 0;
  opacity: 0.6;
}
.guarantee-area .col-lg-4:nth-child(2) .card-crea::before {
  content: "";
  height: 163px;
  width: 1px;
  background: #9D9D9D;
  position: absolute;
  top: 20px;
  right: 0;
  opacity: 0.6;
}



/* guarantee area design end */
/* story area design */
.story-men-bg {
  position: absolute;
  left: 40px;
  top: 0;
  height: 100%;
  width: auto;
}
.small-caption-details {
  font-size: 28px;
  font-weight: 500;
  color: #11305A;
}
/* story area design */

/* pipes area design start */
.pipes-info p , .pipes-info ul li {
  font-size: 19px;
  color: #11305A;
  font-weight: 500;
}
.pipes-info ul {
  margin-bottom: 60px;
}
/* pipes area design end */





/* footer area design start */
.footer-area {
  padding-bottom: 40px;
}
.footer-contact-number {
  font-size: 40px;
  color: #5DC9EF;
  font-weight: 700;
}
.footer-address-content address {
  font-size: 19px;
  color: #fff;
  font-weight: 700;
  text-align: right;
}
.f-heading {
  font-size: 19px;
  font-weight: 700;
  color: #4CA1BF;
}
.f-link {
  font-size: 19px;
  font-weight: 500;
  color: #FFFFFF;
}
.input-area{
  position: relative;
}
.input-area ::placeholder {
  color: #F0F7F8;
  opacity: 0.7;
  font-size: 19px;
  font-weight: 700;
}

.input-area input[type="email"] {
  width: 480px;
  height: 60px;
  background: #11305A;
  padding: 20px 50px;
  border: 2px solid #F0F7F8;
  border-radius: 50px;
  opacity: 0.7;
  color: #F0F7F8;
  position: relative;
}
.submit-icon {
  position: absolute;
  top: 15px;
  right: 30px;
}
.bg-border {
  background: #fff;
  height: 3px;
  margin: 60px 0;
  opacity: 0.7;
}
.bg-border-2 {
  background: #1B3537;
  height: 1px;
  margin: 60px 0;
  opacity: 0.9;
}
.socials-info .small-caption  {
  font-size: 19px;
}
.s-link {
  font-size: 22px;
  color: #fff;
  margin-left: 20px;
  transition: 0.3s;
}
.s-link:hover{
  color: black;
}
/* footer area design end */



/* faq area design area  */
.accordion-item {
  border-right: 0;
  border-left: 0;
  padding: 15px 0px;
}

.accordion-button {
  font-size: 28px;
  font-weight: 500;
  color: #11305A;
}
.accordion-button:not(.collapsed) {
  background-color: #fff;
  box-shadow: none;
  outline: none;
}

/* Zurn Man Tips area design */
.man-img {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
/* arroding area design  start*/
.accordion-button::after {
  background-image: url("../img/icon/pluse.svg");

}
.accordion-button:not(.collapsed)::after {
  background-image: url("../img/icon/minus.svg");
}
/* arroding area design  end*/

/* benefit area start */
.benefit-crad p {
  font-size: 30px;
  /* font-weight: 500; */
  /* color: #11305A; */
}
.benefit-crad.text-center img {
  height: 125px;
}

/* benefit area end */


/* contact-area start */
.banner-border-bg-2 {
  background: #4CA1BF;
  height: 80px;
  opacity: 0.7;
  color: #fff;
}
.banner-border-bg-2 .zurn-head {
  color: #fff;
  padding: 12px 0px;
}
.border-bg {
  background: #868686;
  height: 1px;
  width: 463px;
}
.contact-input-form {
  padding: 43px 52px;
}
.input-heading {
  font-size: 37px;
  font-weight: 500;
  color: #fff;
  padding-top: 50px;
}
.contact-input-form {
  height: 623px;
  width: 552px;
  border-radius: 50px;
  padding: 0 40px;
}
.contact-input-form input {
  height: 50px;
  width: 475px;
}
.contact-input-form textarea{
  width: 475px;
  height: 127px;
}
.contact-input-form  input[type="button"] {
  background: #4CA1BF;
  width: 230px;
  outline: none;
  border: none;
  border-radius: 50px;
  height: 72px;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}

/* contact-area end */