
/* cta area design */
.cta-area .p-list li, .cta-area .p-list-2 li {
  color: #fff;
}
.cta-area  ul , .cta-area-2 ul , .contact-form-area ul {
  list-style: disc;
}
.cta-area {
  position: relative;
}
.cta-area-2 .inner-caption {
  color: #11305A;
}

.cta-area-2 .map-area {
  position: absolute;
  right: 0;
  top: 0;
}
.cta-area::before {
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  height: 100%;
  background: url(../img/plumbingRepair/c-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
}

/* about area design */
.plumbing-about-content .inner-caption {
  color: #11305A;
}
.plumbing-about-content .inner-contnet p {
  color: #11305A;
}

/* ==========
water section area design
================
 */

 .water-heaters .inner-content-info {
  display: block;
  margin: 0 22px;
}
.water-heaters .p-list {
  margin-bottom: 28px;
}
.list-two {
 
  display: flex;
  justify-content: start;
  align-items: center;
}
.water-heaters  ul.p-list-2 {
  margin-left: 0;
}
.water-heaters ul.p-list-3 {
  margin-left: 60px;
}

/*  hydro-jetting  page section design */
.hydro-jetting .zurn-head {
  margin-bottom: 24px;
}
/* album area design start */
.album-info {
  margin-top: 30px;
}
.album-info h5 {
  font-size: 35px;
  font-weight: 500;
  color: #11305A;
  margin-bottom: 13px;
}
/* pageinition design */
.page-link {
  border: none;
  background: #F6FAFC;
  margin-right: 5px;
  font-size: 17px;
  font-weight: 900;
  color: #707070;
  transition: 0.3s;
}
.page-link:hover {
  background: #F3F3F2;
  color: #4CA1BF;
}
.page-head {
  font-size: 18px;
  font-weight: 900;
  color: #2C5168;
  text-transform: uppercase;
}
.back-btn {
  font-size: 18px;
  font-weight: 500;
  color: #11305A;
}
/* blog details deesign */
.blog-details-content h5 {
  font-size: 28px;
  color: #11305A;
}
.blog-info img {
  width: 100%;
  height: auto;
}
.blog-inner-info h6 {
  font-size: 28px;
  font-weight: 500;
  color: #11305A;
  margin-bottom: 17px;
}